<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <add name="ConnectionString" 
         connectionString="user id='UCFUser';password='123';server='MICHAEL-LAPTOP\UCFOFFICEMANAGER';database='UCFOfficeManager';Timeout=30"
         providerName="System.Data.SqlClient" />

    </connectionStrings>
  </configuration>